.env

__pycache__

logs
airflow.db
airflow_venv
csv_output
add_csv.py
add_xlsx.py
output.xlsx
etl_pipeline copy.py
pyspark
folder_structure_generator.py
trial.py
instruction.md
notebook_copy

historical_data_generation_pyspark.py


pkill -f "airflow|uvicorn" && rm -f etl/airflow/airflow-webserver.pid tmp/airflow.lock tmp/fastapi.lock